.auth-form {
    position: relative;
    top: 330px;
    left: 50%;
    width: 600px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 60px;
}

.btn-close {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 12px;
}

.header {
    display: flex;
    justify-content: center;
    color: var(--primary);
    font-weight: 700;
    font-size: 2rem;
}

.content {
    margin-top: 30px;
}

.info {
    margin-bottom: 10px;
}

.account {
    width: 100%;
    margin: 10px 0;
    height: 40px;
    padding: 0 12px;
    font-size: 18px;
    border: 1px solid var(--primary);
    border-radius: 2px;
}

.login {
    display: block;
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
}

.footer {
    color: var(--primary);
    text-align: center;
    span {
        font-size: 25px;
        margin: 0 5px;
    }
}
.icon {
    text-decoration: none;
    color: var(--primary);
}
