.wrapper {
    display: flex;
    padding: 12px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.05);
    }
}

.product-image {
    width: 50px;
    height: 50px;
}

.info {
    flex: 1;
    margin-left: 16px;
}

.name {
    font-size: 1.8rem;
    font-weight: 600;
}

.productname {
    color: red;
}
