@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap');
:root {
    --primary: #2a254b;
    --text-color: #333;
    --black: #000;
    --white: #fff;
    --red: #d82828;
    --background: #d9d9d9;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

.grid {
    margin: 20px 40px;
    // background-color: red;
}
