.cart {
    position: relative;
    margin-top: 20px;
}

.header {
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

.cart-list {
    background-color: #f5f5f5;
    padding: 30px;
    margin-top: 20px;
}

.check-all,
.check-item {
    background-color: var(--white);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

    .tag {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }
}

.check-wrap {
    margin-top: 40px;
}

.check-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.check-item:hover {
    box-shadow: 0px 0px 1px 1px var(--primary);

}

.product-name {
    font-size: 14px;
    font-weight: 600;
}

.product-img {
    width: 200px;
}

.price {
    color: var(--red);
    font-weight: 600;
    margin-bottom: 0;
}

.btn-controll {
    font-weight: 500;
    // display: flex;
    // justify-content: space-evenly;
    .btn-edit{
        margin-right: 10px;
        border: none;
        color: #fff;
        background: var(--primary);
    }
    .btn-edit:hover {
        scale: (1.1);
    }

    .btn-delete:hover {
        scale: (1.1);
    }
    
}

.footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 40px 40px 20px;

    .back {
        text-decoration: none;
        color: var(--black);
    }

    .total {
        display: flex;
        h3 {
            color: var(--primary);
            font-size: 25px;
            font-weight: 700;
        }
        .total-money {
            margin: 0;
            font-size: 25px;
            font-weight: 700;
            color: var(--red);
        }
    }
}
.btn-buy {
    text-align: right;
    margin: 0 40px;
    padding-bottom: 50px;

    Button {
        padding: 15px 20px;
        font-size: 18px;
    }
}
